.env
.env.*
!.env.example

db/*.db
db/*.db-shm
db/*.db-wal

logs/
*.log

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
tests/

.git/
.gitignore
.DS_Store

venv/
.venv/
dist/
build/
*.egg-info/
